@import '../../../setting.scss';

.entry-image{
  position: relative;
}

.featured-item{
  margin-bottom: 36px;
  .cover-bg{
    position: relative;
    cursor: pointer;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0, 0.4);
      background: -webkit-linear-gradient(left, rgba(0,0,0, 1) 0%, transparent 15%, transparent 80%, rgba(0,0,0, 1) 100%); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, rgba(0,0,0, 1) 0%, transparent 15%, transparent 80%, rgba(0,0,0, 1) 100%); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, rgba(0,0,0, 1) 0%, transparent 15%, transparent 80%, rgba(0,0,0, 1) 100%); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, rgba(0,0,0, 1) 0%, transparent 15%, transparent 80%, rgba(0,0,0, 1) 100%); /* Standard syntax */
    }
  }
  .featured-info{
    min-height: 80px;
    margin-top: -36px;
    z-index: 8000;
    position: relative;
    .featured-info-bg{
      background: #34495e;
      color: #ffffff;
      border: none;
      padding: 30px 42px 36px;
      .entry-header{
        max-width: 62%;
        display: inline-block;
        color: #fff;
        .entry-category{
          a{
            text-transform: uppercase;
            color: rgba(255,255,255,0.5);
            line-height: 26px;
            transition: color .15s ease-in-out;
            font-size: 12px;
          }
        }
        .entry-title{
          color: #fff;
          margin-bottom: 4px;
          margin-top: 0;
          a{
            color: #fff;
            &:hover{
              text-decoration: none;
            }
          }
        }
        .entry-meta{
          .meta-item{
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            -webkit-transition: all .15s ease-in-out;
            -moz-transition: all .15s ease-in-out;
            -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
            color: rgba(255,255,255,0.5);
            a{
              color: rgba(255,255,255,0.5);
            }
            &:not(:last-child)::after{
              content: "/";
              margin: 0 5px;
              opacity: .5;
            }
          }
        }
      }
      .entry-actions{
        float: right;
        height: 100px;
        padding-left: 20px;
        position: absolute;
        top: 50%;
        right: 55px;
        -webkit-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        transform: translate(0,-50%);
        &, .action-item{
          vertical-align: top;
          display: inline-block;
        }
        .action-item{
          width: 100px;
          display: inline-block;
          text-decoration: none;
          color: #fff;
          text-align: center;
          line-height: 16px;
          padding: 20px 0;
          &::before, i{
            font-size: 30px;
            margin-bottom: 6px;
            display: block;
          }
        }
      }
    }
    .shy{
      opacity: 0.25;
    }
    .entry-meta,
    .entry-title,
    .entry-category,
    .entry-actions a{
      transition: opacity .15s ease-in-out;
    }
  }
  .featured-video-nav{
    @include centerXY();
    width: 90%;
    z-index: 20;
    a{
      display: inline-block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      font-size: 42px;
      color: #fff;
      cursor: pointer;
      opacity: .3;
      transition: all .2s ease-in-out;
      text-align: center;
      transition: all .2s ease-in-out;
      &:hover{
        opacity: 1;
      }
      i{
        width: 20px;
        height: 20px;
      }
      &.prev{
        float: left;
      }
      &.next{
        float: right;
      }
    }
  }
}

.thumb-videos{
  margin-bottom: 36px;
  text-align: center;
  .entry-image{
    margin-bottom: 10px;
    a{
      display: block;
      &:hover{
        .format-action{
          &.small{
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
          }
        }
      }
    }
  }
  .entry-header{
    width: 90%;
    margin: 0 auto 5px;
    .h5{
      margin-top: 0;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 0;
    }
  }
  .entry-meta{
    .meta-item{
      font-size: 12px;
      text-transform: uppercase;
      color: #999999;
      .count{
        margin-right: 5px;
        background-color: $mainColor;
        display: inline-block;
        color: #FFF;
        font-size: 10px;
        min-width: 24px;
        height: 24px;
        line-height: 10px;
        padding: 6px 0;
        vertical-align: 1px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}

.format-action {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45px;
  margin-top: -45px;
  z-index: 10;
  border: 2px solid #FFF;
  background: rgba(0,0,0,.5);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  i{
    color: #FFF;
    text-align: center;
    z-index: 2;
    position: relative;
  }
  &.large {
    height: 90px;
    width: 90px;
    padding: 27px 0 0 7px;
    -webkit-animation: pulseicon .7s alternate ease-in-out infinite;
    animation: pulseicon .7s alternate ease-in-out infinite;
    i{
      font-size: 32px;
    }
  }
  &.small{
    height: 60px;
    width: 60px;
    margin-left: -30px;
    margin-top: -30px;
    padding: 17px 0 0 5px;
    i{
      font-size: 22px;
    }
    &:hover{

    }
  }
}
